/*remove default browser margin, padding and box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(126, 123, 163)
}

/*WRAPPER*/

#wrapper {
  border: 1px solid #000;
  height: 600px;
  margin: 20px;
}

#navbar {
  border: 1px solid #000;
  height: 100px;
}