/*remove default browser margin, padding and box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(126, 123, 163)
}

/*WRAPPER*/

#wrapper {
  /* border: 1px solid #000;
  height: 600px; */
  margin: 20px;
}

/* Navbar */
#navbar {
  border: 1px solid #000;
  height: 100px;
}

/* Banner */
#banner {
  border: 1px solid #000;
  height: 150px;
  margin-top: 5px;
}

/* Content */
#content {
  /* border: 1px solid #000; */
  /* height: 250px; */
  margin-top: 5px;
}

#content .content-inner {
  border: 1px solid #000;
  height: 50px;
  /* margin-top: 5px; */
}

/* Footer */
#footer {
  border: 1px solid #000;
  height: 100px;
  margin-top: 5px;
}

