/*remove default browser margin, padding and box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(126, 123, 163)
}

/*WRAPPER*/

/* Navbar Background */

/* Navbar */
#navbar {
  background: #1d1d45;
  overflow: hidden;
  border-bottom: 3px solid #c08703;
}

#navbar:hover{
  background: "none";
}

#navbar #logo {
  float: left;
  padding-top: 5px;
}

ul li {
  list-style-type: none;
  float: left;
  padding: 20px;
}

#menu {
  float: right;
}

#menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/* Banner */
#banner {
  /* border: 1px solid #000; */
  /* margin-top: 5px; */
  background: linear-gradient(#1d1d45, rgb(213, 213, 222));
}

#banner h1, h3 {
  color: #fff;
  text-align: center;
}

#banner a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 150px;
  background: #375cbcae;
  margin: 20px auto;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

#banner a:hover{
  opacity: 1;
  background: none;
  border: 1px solid  #375cbcae;
  text-transform: uppercase;
}

/* Content */
#content {
  margin: 5px;
  overflow: hidden;
  background: url(../images/background-image.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#content h1 {
  text-align: center;
  color: #fff;
}

#content .content-inner {
  display: inline-block;
  width: 49.8%;
  background: #1d1d45;
  opacity: .6;
}

#content .top-gap {
  margin-top: 5px;
}

.content-inner p {
  color: #fff;
  text-align: center;
}

/* Footer */
#footer {
  border: 1px solid #000;
  /* height: 100px; */
  margin-top: 5px;
}

#footer span {
  display: inline-block;
  padding: 10px;
}


